# .gitignore

# Environment variables
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.logdata/

# Spotify OAuth cache
.cache

# Airflow logs and runtime artifacts
logs/
airflow.cfg
airflow.db
webserver_config.py

# DBT artifacts
dbt/logs/
dbt/target/
dbt/dbt_packages/

# Data files
*.parquet
*.csv
data/
